<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="static/admin_dashboard.css">

    <link rel="shortcut icon" href="static/images/logo2.png">

	<title>Admin Dashboard</title>
</head>
<body>	
	<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
		<div class="container-fluid">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item d-flex">
					<a class="navbar-brand logo_button" href="https://www.hogeschoolrotterdam.nl/"><img class="logo" src="static/images/logo.svg" name="HomeButton" action="/main"></a>
				</li>
				<li class="nav-item d-flex align-items-center">
					<div>Dashboard</div>
				</li>
			</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item d-flex align-items-center">
						<a class="home_button button" title="Dashboard" href="#">
							<svg style="width: 26px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M10 14.5v8c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V10.1c0-.3.1-.6.3-.8l10-8.6c.4-.3.9-.3 1.3 0l10 8.6c.2.2.3.5.3.8v12.4c0 .6-.4 1-1 1h-7c-.6 0-1-.4-1-1v-8H10zm-2 7v-8c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v8h5V10.6l-9-7.7-9 7.7v10.9h5z"></path>
								<path d="M10 14.5v8c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V10.1c0-.3.1-.6.3-.8l10-8.6c.4-.3.9-.3 1.3 0l10 8.6c.2.2.3.5.3.8v12.4c0 .6-.4 1-1 1h-7c-.6 0-1-.4-1-1v-8H10zm-2 7v-8c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v8h5V10.6l-9-7.7-9 7.7v10.9h5z" fill-rule="evenodd" clip-rule="evenodd"></path>
							</svg>
						</a>
					</li>
					<li class="nav-item d-flex">  
						<div id="main">
							<span style="font-size:30px;cursor:pointer" onclick="openNav()" title="Menu">&#9776;</span>
					  	</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="mySidenav" class="sidenav">
		<div class="CloseButton" onclick="closeNav()" title="Close">&times;</div>
		<a href="">Courses</a>
		<a href="">Students</a>
		<a href="">Enrollments</a>
		<a href="">Attendance</a>
		<a href="">Faculty</a>
		<a href="">Rooms</a>
		<a href="{{ url_for('logout') }}">Uitloggen</a>
	</div>
	<div class="main-content">
		<div class="container">
			<div style="padding-top: 100px;">
			<h1>Welkom, Admin!</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/courses">View Courses</a></li>
					<li><a href="/add_course">Add Course</a></li>
					<li><a href="/students">View Students</a></li>
					<li><a href="/add_student">Add Student</a></li>
					<li><a href="/enrollments">View Enrollments</a></li>
					<li><a href="/add_enrollment">Add Enrollment</a></li>
					<li><a href="/attendance">View Attendance</a></li>
					<li><a href="/add_attendance">Add Attendance</a></li>
					<li><a href="/faculty">View Faculty</a></li>
					<li><a href="/add_faculty">Add Faculty</a></li>
					<li><a href="/rooms">View Rooms</a></li>
					<li><a href="/add_room">Add Room</a></li>
				</ul>
			</nav>
			<p>Additional content for the admin dashboard can go here.</p>
			</div>
		</div>
	</div>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "500px";
			document.getElementById("main").style.marginRight = "350px";
			document.body.style.backgroundColor = "rgba(0, 0, 0, 0.3)";
		}
		
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("main").style.marginRight = "0";
			document.body.style.backgroundColor = "#fff7ea";
			
		}
	</script>
</body>
</html>
