<!DOCTYPE html>
<html>
<head>
  <title>Student Check-In</title>
  <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='/login_mobile.css') }}">
</head>
<body>
  <h1>Student Check-In</h1>
  <form id="checkin-form" method="POST">
    
    <input type="hidden" name="student-number" id="student-number" value="{{ session.username }}" required pattern="\d{6,8}">
    <br>
    
    <input type="hidden" name="meeting-number" id="meeting-number" value= "{{ meeting_id }}" required>
    <br>
    <label for="status">Status:</label>
    <select class="form-control" name="status" id="status" required>
      <option value="Aanwezig">Aanwezig</option>
      <option value="Afwezig">Afwezig</option>
    </select>
  </div>

  <div id="question-container" style="display: none;">
    <div class="form-group">
      <label for="question">Vraag:</label>
      <span id="question-text">{{ question }}</span>
      <input type="hidden" class="form-control" name="question" id="question">
    </div>
    <div class="form-group">
      <label for="answer">Antwoord:</label>
      <input type="text" class="form-control" name="answer" id="answer" required>
    </div>
  </div>

  <div id="reason-container" style="display: none;">
    <div class="form-group">
      <label for="reason">Reden:</label>
      <input type="text" class="form-control" name="reason" id="reason">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
      // Gets a random question and display it
        $(document).ready(function() {
      // Show the question by default
    $('#question-container').show();

  // Hide the question when status is changed to "absent"
  $('#status').on('change', function() {
    if ($(this).val() === 'Afwezig') {
      $('#question-container').hide();
      $('#reason-container').show();
    } else {
      $('#question-container').show();
      $('#reason-container').hide();
    }
  });

  // Submit the form data to the server
  $('#checkin-form').on('submit', function(event) {
  event.preventDefault();
  var data = {
    'status': $('#status').val(),
    'question': $('#question').val(),
    'answer': $('#answer').val(),
    'reason': $('#reason').val()
  };
  var studentNumber = $('#student-number').val();
  var meetingNumber = $('#meeting-number').val();
  var encodedStudentNumber = studentNumber.padStart(7, '0'); // add leading zeros if necessary
  $.ajax({
    url: '/api/checkin/' + encodeURIComponent(encodedStudentNumber) + '/' + encodeURIComponent(meetingNumber),
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function(response) {
      alert(response.message);
    },
    error: function(xhr, status, error) {
      alert('Error checking in: ' + xhr.responseText);
      }
    });
   
  });
});

      
  </script>
</body>
</html>