<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>DayPilot Calendar Demo</title>
  <script src="static/daypilot-all.src.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.2.js"></script>
</head>
<body>
  <div id="dp"></div>
  <script>
    $(document).ready(function() {
      $.get("https://roosterapi.hr.nl/timetables/personalized/0909114/export", function(data) {
        const events = DayPilot.Calendar.parse(data, "ics");
        const dp = new DayPilot.Calendar("dp", {
          locale: "nl-nl",
          viewType: "Week",
          cellHeight: 30,
          timeRangeSelectedHandling: "Enabled",
          onTimeRangeSelected: async (args) => {
            const modal = await DayPilot.Modal.prompt("Create a new event:", "Event 1");
            const dp = args.control;
            dp.clearSelection();
            if (modal.canceled) { return; }
            dp.events.add({
              start: args.start,
              end: args.end,
              id: DayPilot.guid(),
              text: modal.result
            });
          },
          eventDeleteHandling: "Disabled",
          eventMoveHandling: "Update",
          onEventMoved: (args) => {
            args.control.message("Event moved: " + args.e.text());
          },
          eventResizeHandling: "Update",
          onEventResized: (args) => {
            args.control.message("Event resized: " + args.e.text());
          },
          eventClickHandling: "Disabled",
          eventHoverHandling: "Disabled",
        });
        dp.events.list = events;
        dp.init();
      });
    });
  </script>
</body>
</html>