{% extends "base3.html" %}

{% block content %}
<head>
<script src="https://code.jquery.com/jquery-3.6.2.js"></script>
</head>
<body>
  <div class="container mt-4">
    <h1>Welkom, {{ name_t }}!</h1>
    <h2>Creeër een les:</h2>
    <form method="POST" action="{{ url_for('teacher.create_class') }}">
      <div class="form-group">
        <label for="class_name">Lesnaam:</label>
        <input type="text" class="form-control" id="class_name" name="class_name">
      </div>
      <div class="form-group">
        <label for="start_time">Start Tijd:</label>
        <input type="datetime-local" class="form-control" id="start_time" name="start_time">
      </div>
      <div class="form-group">
        <label for="end_time">Eind Tijd:</label>
        <input type="datetime-local" class="form-control" id="end_time" name="end_time">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
    <div>
      <h1>Studenten lijst</h1>
      <table id="studentTable" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Student ID</th>
            <th>Naam</th>
            <th>Andere Details</th>
            <th>Username</th>
            <th>Password</th>
            <th>Studentnummer</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </body>
    <script>
      $(document).ready(function() {
        // Make a GET request to the /api/students endpoint
        $.get("/api/students", function(data) {
          // Loop through each student object and create a table row for each one
          for (var i = 0; i < data.length; i++) {
            var student = data[i];
            var row = "<tr><td>" + student.Student_id + "</td><td>" + student.Student_name + "</td><td>" + student.Other_details + "</td><td>" + student.Username + "</td><td>" + student.Password + "</td><td>" + student.Studentnumber + "</td></tr>";
            $("#studentTable tbody").append(row);
          }
        }).fail(function(jqXHR, textStatus, errorThrown) {
          console.log("Error getting student data: " + textStatus + ", " + errorThrown);
        });
      });
    </script>
  </div>
</body>
{% endblock %}
