@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(248, 245, 238);
    font-family: "Poppins", sans-serif;
    color: #001e48;
    transition: background-color .5s;
}

.navbar {
    height: 80px;
}

nav .container-fluid {
    width: 1600px;
}

nav {
    background-color: transparent;
    color: black;
}

.nav-link {
    color: black;
}

.logo {
    width: 42px;
}

.main-content .container {
    width: 900px;
}

.button {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    transition: 0.3s;
}

/* .button:hover {
    background-color: white;
} */

.CloseButton {
    font-size: 50px;
    cursor: pointer;
    padding-left: 25px;
    color: white;
    position: absolute;
    top: 0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
    
.sidenav a:hover {
    color: #f1f1f1;
}
    
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}
    
#main {
    transition: margin-right .5s;
    padding: 16px;
}
    
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}